---
interface Props {
  id?: string;
  class?: string;
  title: string;
  image: string;
  text_colour?: string;
  bg_colour?: string;
}

const {
  id: idName,
  class: className = "",
  title: titleContent,
  image,
  text_colour = "light-primary",
  bg_colour = "dark-primary",
} = Astro.props;
---

<div
  id={idName}
  title={titleContent}
  class={`ImageCard rounded-card
        inline-block aspect-3/2 h-fit m-3 px-5 py-3 
        text-${text_colour} bg-${bg_colour} shadow-light-secondary/50 shadow-primary ${className}`}
>
  <h4 class="text-xl mt-1 mb-1 md:mb-3 font-bold">
    {titleContent}
  </h4>
  <img
    class="object-cover aspect-video max-h-[30vh] mx-auto md:mb-3 rounded-card"
    src={image}
    alt={`${titleContent} image`}
  />
</div>
